extends layout

block content
  #main-container
    #map-block.container-fluid
      .map-left-block
        #map
      .map-right-block
    #property-block.container-fluid
      ul
        li Real Property
        li Real Property
        li Real Property
  script.
    mapboxgl.accessToken = 'pk.eyJ1Ijoia3VpcyIsImEiOiJjaXpud2E5dDkwMzIyMnFwY2gzaHV0NjR5In0.E79g8_ROKNUvprg8os47Kw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9'
    });

