doctype html
html(ng-app="mainApp")
  head
    title= title
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/mapbox-gl-js/mapbox-gl.css')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/mapbox-gl-js/mapbox-gl.js')
    script(src='/javascripts/app.js')
  body
    block content
